* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    /* background-image: linear-gradient(90deg, #cdb4db, #ffc8dd, #ffafcc, #bde0fe, #a2d2ff); */
    background-image: radial-gradient(#cdb4db, #ffc8dd, #ffafcc, #bde0fe, #a2d2ff);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff; /* Adjust the background color as needed */
    z-index: 1000; /* Ensure it stays on top of other elements */
    
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* position: fixed; */
    /* width: 100vw; */
    height: 80px;


    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #333; */
    padding: 10px;

    
}

.navbar p#MindMatters {
    color: white;
    font-size: 24px;
    margin: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}



#MindMatters {
    font-size: x-large;
    
}

#MindMatters:hover {
    font-style:oblique;
}

#ele1, #ele2, #ele3, #ele4, #ele5, #ele6, #ele7, #ele8, #ele9, #ele10, #ele11 {
    color: grey;
    border: 1px solid transparent;
}

#ele1:hover {
    color: pink;
    border: 1px solid black;
}

#ele2:hover {
    color: red;
    border: 1px solid black;
}

#ele3:hover {
    color: lightgreen;
    border: 1px solid black;
}

#ele4:hover {
    color: lightseagreen;
    border: 1px solid black;
}

#ele5:hover {
    color: orange;
    border: 1px solid black;
}

#ele6:hover {
    color: pink;
    border: 1px solid black;
}

#ele7:hover {
    color: red;
    border: 1px solid black;
}

#ele8:hover {
    color: lightgreen;
    border: 1px solid black;
}

#ele9:hover {
    color: lightseagreen;
    border: 1px solid black;
}

#ele10:hover {
    color: orange;
    border: 1px solid black;
}

.section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: #fff0f3;
    height: 200px;
    width: 100vw;
    color: gray;
}

.sec1_left {
    height: 200px;
    width: 40vw;
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 5%;
}

.sec1_right {
    height: 200px;
    width: 60vw;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-right: 5%;
}


.features {
    display: flex;
}

#btn {
    border: 2px solid lightgrey;
    border-radius: 20%;
    padding: 20px;
    margin: 30px;
    font-size: 30px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 120px;
    
}
#btn:hover {
    border: 2px solid gray;
}


body {
  color: white;
  font-family: "Lato";
  font-weight: light;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(150deg, #e6d3f9 0%, #e6d3f9 50%, #cea0f1 50%, #cea0f1 100%);
}

.container {
    margin: 100px 0 0 200px;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    transform: all ease-in-out 0.5s;
} 

.container img:hover {
    width: 110%;
}

#Click_to_explore {
    margin-top: 10%;
    height: 10%;
    width: 30%;
    border-radius: 45%;
    background-color: #ffd6ff;
    font-size: larger;
}

#Click_to_explore:hover {
    background-color: #b8c0ff;
}