{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'about.css' %}">
</head>
<body>
    <header>
        <h1>About Us</h1>
        <p>Our mission is to help you find peace and focus in your life. We provide resources and tools to help you meditate, sleep, and improve your mental health.</p>
    </header>

    <section class="team">
        <h2>Our Team</h2>
        <p>Our team is made up of experts in meditation, sleep, and mental health. We are dedicated to helping you live a happier and healthier life.</p>
        
        <h3>Meet Our Team</h3><br>
            <p>Yash Bhagyawant, FY, VIT Pune- CSE(AIML)</p><br>
            <p>Swapnaja Yadav, FY, VIT Pune- IT</p>
    </section>

    <div class="goals">
        <h2>Goals:</h2>
        <ul type="circle">
            <li>Personalized health advice tailored to individual needs.</li>
            <li>Integration of tools for holistic health management (physical and mental).</li>
            <li>Seamless user experience with real-time feedback.</li>
        </ul>
    </div>


    <div class="scope">
        <h2>Scope:</h2>
        <ul type="circle">
            <li>Personalized health advice tailored to individual needs.</li>
            <li>Integration of tools for holistic health management (physical and mental).</li>
            <li>Seamless user experience with real-time feedback.</li>
        </ul>
    </div>

</body>
</html>