* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    background-color: gray;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}
