<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Assessment</title>
    <link rel="stylesheet" href="health_form.css">
</head>
<body>
     <div class="container">
        <form action="#">
            <div class="title">Health Assessment</div>
        <label for="age">Enter your age-</label>
        <input type="number" id="age" name="age"><br>

            <p>Select your appropriate gender-</p>

        <input type="radio" id="male" name="gender">
        <label for="male">Male</label><br>

        <input type="radio" id="female" name="gender">
        <label for="female">Female</label><br>

        <input type="radio" id="other" name="gender">
        <label for="other">Other</label>
        <br>
        <br>
        
        <label for="height">Please enter your height in cm-</label>
        <input type="number" id="height" name="height"><br>
        
        <label for="weight">Please enter your weight in kg-</label>
        <input type="number" id="weight" name="weight">
        <br>
        <br>
        <input type="reset" value="Reset!">
        <input type="submit" value="Submit!">
    </form>
</div>
<script src="health_form.js"></script>
</body>
</html>